body {
    padding: 2% 10% 0% 10%;
    color: #2d3c49 !important;
    font-family: 'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif !important;
}

header{
  margin: 0% 0% 10% 0%
}

.header__logo{
  float: left;
}

.logoImg{
  width: 100px;
  width: 100px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0px 0px 0px 0px;
}

.header__title{
  color: #02b3e4;
}

.header__innerText{
  float: right;
}

.header__description{
  margin-top: 40px;
}

.customHr {
    clear: both;
    color: transparent;
    font-size: 1px;
    line-height: 3px;
    background-color: #7d97ad;
    margin: 0px 0px 50px 0px;
}

.top-section{
  text-align: center;
  padding: 0% 0% 5% 0%;
}

img{
  -webkit-box-shadow: 8px 8px 10px 0px rgba(125,151,173,0.9);
  -moz-box-shadow: 8px 8px 10px 0px rgba(125,151,173,0.9);
  box-shadow: 8px 8px 10px 0px rgba(125,151,173,0.9);
  margin: 0px 0px 10px 0px;
}

.main-img{
  width: 560px;
  height: 420px;
}

.featured-work-img{
  width: 255px;
  height: 170px;
}

.col{
  text-align: center;
}

footer{
  background-color: #7d97ad;
  width: 100%;
  margin: 50px 0px 0px 0px;
}

#footer-text{
  margin-bottom: 0px;
  text-align: center;
}

@media screen and (max-width: 760px){
  body {
      padding: 0% 0% 0% 0%;
  }

  .main-img{
    width: 412px;
    height: 300px;
  }
}
